<%- if @parking_registration.errors.size > 0 -%>
  <ul class="errors">
    <%- @parking_registration.errors.full_messages.each do |message| -%>
    <li><strong><%= message %></strong></li>
    <%- end -%>
  </ul>
<%- end -%>


<h3><img src="http://www.lolzgif.com/wp-content/uploads/2012/11/cool-car-parking.gif" width='115' height='45'/> Please fill out the form below to register your parking spot <img src="http://pics.lolme.org/2013/08/car-parking.gif" width='115' height='45'/></h3>

<%- if @previous_registration.present? && @previous_registration.day_of == Date.yesterday -%>
  <%= "Yesterday you parked in spot #{@previous_registration.spot_number}" %>
  <br>
<%- else -%>
  <%= "You did not park here yesterday" %>
  <br>
<%- end -%>

<%= form_for @parking_registration do |f| %>
  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :spot_number %><br>
    <%= f.select :spot_number, ParkingRegistration.spots, include_blank: true %>
  </div>
  <div>
   <%= f.submit 'Register' %><br>
  </div>
  <br>
  <div>
<%- if @previous_registration.present? -%>
  <%= link_to "Previous Parking Activity", previous_parking_activity_parking_registration_path(@previous_registration) %>
<%- end -%>
  </div>

  <%- end -%>